import { expect } from 'chai';

import {
  reducer as {{ camelCase name }}Reducer,
  {{ pascalCase name }}Actions,
  {{ pascalCase name }}Types,
} from '../{{ camelCase name }}.redux';

describe('{{ pascalCase name }}: redux', () => {
  const state = {};

  describe('reducer', () => {
    it('should return initial state', () => {
      expect({{ camelCase name }}Reducer(undefined, {})).to.deep.equal(state);
    });

    it('should return state on unknown action', () => {
      expect({{ camelCase name }}Reducer(state, { type: 'unknown-action' })).to.deep.equal(state);
    });
  });
});
