import { expect } from 'chai';

import { select{{ pascalCase name }}Domain } from '../{{ camelCase name }}.selectors';

describe('{{ pascalCase name }}: selectors', () => {
  const state = {
    {{ camelCase name }}: {

    },
  };

  describe('select{{ pascalCase name }}Domain', () => {
    it('should select a domain', () => {
      expect(select{{ pascalCase name }}Domain(state)).to.equal(state.get('{{ camelCase name }}'));
    });
  });
});
