import { createActions, createReducer } from 'reduxsauce';

export const { Types: {{ pascalCase name }}Types, Creators: {{ pascalCase name }}Actions } = createActions({
  noop: null, // TODO: remove this action
}, { prefix: '{{ constantCase name }}_' });

export const INITIAL_STATE = {};

export const reducer = createReducer(INITIAL_STATE, {
});
